#draw-card{
    position: fixed;
    top: 20px;
    left: calc(50% - 80px);
    transform: translateX(-50%);
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#draw-card:disabled {
    background-color: #999;
    cursor: not-allowed;
}

#reshuffle{
    position: fixed;
    top: 20px;
    left: calc(50% + 20px);
    transform: translateX(-50%);
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#card-img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #90EE90; /* Light green */
}